<div class="header authorized">
  <h1>Heartrate</h1><h3 ng-show="mainActivity"> - {{ mainActivity.date | date:'EEEE MMMM d, y' }}</h3>
</div>
<div class="container outline">
  <chart id="hrchart" ng-model="data"></chart>
  <!--section class="float-left">
    <input ng-repeat-start="activity in activities | orderBy: '-date'" type="button" value="{{ activity.date | date }}" ng-click="setActivity(activity)">
    <br ng-repeat-end>
  </section>
  <section ng-show="mainActivity">
    <span><strong>Calories burned:</strong> {{ mainActivity.calories }}</span>
    <span><strong>Total minutes:</strong> {{ mainActivity.minutes }}</span>
    <br>
    <table>
      <thead>
        <tr>
          <th></th>
          <th>Minutes</th>
          <th>Calories</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="zone in mainActivity.zones">
          <th style="text-align: right;">{{ zone.name }} ({{ zone.min }} - {{ zone.max }}):</th>
          <td>{{ zone.minutes }}</td>
          <td>{{ zone.caloriesOut }}</td>
        </tr>
      </tbody>
    </table>
  </section-->
</div>
